body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ecf0f1;
    margin: 0;
    padding-top: 60px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ffffff;
    z-index: 1000;
}

.logo {
    font-size: 1.2em;
}

.logo a {
    padding: 10px;
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 10px;
}

.nav-links a {
    padding: 10px;
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    position: relative;
}

.nav-links a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ecf0f1;
}

.about-section {
    background-color: #f4f4f4;
    color: #333;
    padding: 40px 20px;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-container h2 {
    color: #3498db;
}

.about-container p {
    line-height: 1.6;
}

.projects-section {
    background-color: #f4f4f4;
    color: #333;
    padding: 40px 20px;
    text-align: center;
}

.projects-container {
    max-width: 800px;
    margin: 0 auto;
}

.projects-container h2 {
    color: #3498db;
}

.project {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    color: #333;
}

.project p {
    color: #555;
}
